body {
    background-image: url("https://t3.ftcdn.net/jpg/00/98/26/24/360_F_98262429_sUQILdgC0z5i42izLzjTsIG4HEjbosRX.jpg");
}

.extraButton button{
    margin: 10px;
}

.extraButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.box {
    display: flex;
    justify-content: center;
}

.lightBox {
    margin-top: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100px;
    height: 200px; 
    border-radius: 20px;
}

.traffic-light-button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(255, 255, 0);
}

.green {
    background-color: rgb(0, 255, 0);
}

.active {
    box-shadow: 0 0 20px white;
}

.purple {
    background-color: rgb(252, 0, 252);
}
